*{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
body{
    background-color: #080710;
    overflow: hidden;
}

.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -90px;
    bottom: -150px; 
}

form{
    width:450px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 20px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table-container {
  width: 70%;
  margin: 0 auto;
  position: relative;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-scroll {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}
table {
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 20px 35px;
  border-collapse: collapse;
  width: 100%;
}
table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}
table tr:nth-child(even){background-color: #696767a8;}
table tr:hover {background-color: #000000;}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: hsla(0, 0%, 100%, 0.537);
  color: rgb(0, 0, 0);
}

#search_form{
  width: auto;
  background-color: initial;
  position: static;
  left: initial;
  top: initial;
  transform: initial;
  border-radius: initial;
  backdrop-filter: initial;
  border: initial;
  box-shadow: initial;
  padding: initial;
  display: initial;
  flex-direction: initial;
  justify-content: initial;
}

h3{
    font-size:30px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    margin: 10px 0;
}
h4 {
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    margin-top: 10px;
    margin-right:10px;
    font-size: 16px;
    font-weight: 500;
}
input , select {
    height: 30px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding-left: 5%;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}


::placeholder {
    color: #e5e5e565;
}

button {

    margin-top: 10px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

a:link, a:visited {
  text-decoration: none;
  font-size: 115%;
}

a:hover, a:active {
  color: #23a2f6
}

.gender-container label {
  display: inline-block;
  margin-right: 10px;
}
.gender-container input[type="radio"] {

  display: inline-block;
  margin-top: 8px;
}

input[type= "radio"]{
    height: auto;
    width: auto;
}

.address-container, .name-container {
    display: flex;
    align-items: center;
}

.name-container input {
    width:100%;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

#search_input {
  padding: 0px;
  margin: 0px;
  font-size: 17px;
  float: left;
  width: 85%;
}

#search_button {

  padding: 5px;
  margin-top: 0px;
  height: 100%;
  float: left;
  width: 15%;

  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
}

#search_button:hover {
  background: #0b7dda;
}

#search_button::after {
  content: "";
  clear: both;
  display: table;
}